.logo{
  padding-top: 109px;
}

.btn{
  color: rgb(117, 117, 117);
  font-family: arial, sans-serif;
  font-size: 13px;
  padding: 0 16px 0 16px;
  margin: 11px 4px 11px 4px;
  font-weight: 700;
  background-color: rgb(242, 242, 242);
  height: 36px;
  border: none;
}
